<a href="https://colab.research.google.com/github/AbduRashid24/ITBAN3/blob/main/LabActivity3-1_Suminguit.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


(a) To list the average fare per month for each business traveller who

flies Philippine Airlines (PA) from Davao City to Manila in the year 2023, we can perform the following OLAP operations:

Roll-up the departure time dimension to the month level.

Select the traveller dimension where the flight is from Philippine Airlines (PA) and the departure is Davao City and the arrival is Manila in the year 2023.

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
import pandas as pd

data = {
    'traveller': ['Justine', 'John', 'Gomez', 'Elise', 'Guzman'],
    'departure': ['Davao City', 'Davao City', 'Manila', 'Davao City', 'Davao City'],
    'departure_time': ['2023-01-05', '2023-02-10', '2023-03-15', '2023-01-20', '2023-04-25'],
    'arrival': ['Manila', 'Manila', 'Davao City', 'Manila', 'Manila'],
    'arrival_time': ['2023-01-06', '2023-02-11', '2023-03-16', '2023-01-21', '2023-04-26'],
    'flight': ['PA123', 'PA456', 'CebuPac789', 'PA101', 'PA222'],
    'fare': [5000, 6000, 7000, 5500, 6200]
}

df = pd.DataFrame(data)
df['departure_time'] = pd.to_datetime(df['departure_time'])
df['arrival_time'] = pd.to_datetime(df['arrival_time'])

# Step 1: Roll-up departure_time to month level
df['departure_time'] = df['departure_time'].dt.to_period('M')

# Step 2: Select traveller, flight, departure, arrival, and avg_fare where flight starts with 'PAL' and departure is 'Davao City' and arrival is 'Manila' in 2023
filtered_df = df[(df['flight'].str.startswith('PA')) & (df['departure'] == 'Davao City') & (df['arrival'] == 'Manila') & (df['departure_time'].dt.year == 2023)]

# Step 3: Select avg_fare
avg_fare_per_month = filtered_df.groupby(['traveller', 'departure_time'])['fare'].mean()

print(avg_fare_per_month)

traveller  departure_time
Elise      2023-01           5500.0
Guzman     2023-04           6200.0
John       2023-02           6000.0
Justine    2023-01           5000.0
Name: fare, dtype: float64

(b) To compute a data cube where the conditions are that the minimum number of records is 10 and the average fare is over Php 5,000.00, we can use the following method:

Filter the data to only include records where the fare is over Php 5,000.00.

Group the data by the desired dimensions (e.g. traveller, departure, departure_time, arrival, arrival_time, flight).

Count the number of records in each group.

Filter the groups to only include those with a minimum number of records (e.g. 10).

In [5]:
# Step 1: Filter avg_fare over 5000
filtered_df = df[df['fare'] > 5000]

# Step 2: Group by dimensions
grouped_df = filtered_df.groupby(['traveller', 'departure', 'departure_time', 'arrival', 'arrival_time', 'flight'])

# Step 3: Count records in each group
count_df = grouped_df.size().reset_index(name='count')

# Step 4: Filter groups that have a minimum number of records greater than or equal to 10
min_records_df = count_df[count_df['count'] >= 10]

print(min_records_df)

Empty DataFrame
Columns: [traveller, departure, departure_time, arrival, arrival_time, flight, count]
Index: []